/* vim: set sw=4 tw=4 sts=4 expandtab : */

:root {
    --anim-speed: 200ms;

    --h-gap: 1em;
    --v-gap: 0.5em;
    --x-gap: 1em;

    --color-a: #aaa;
    --color-b: #ccc;
    --color-c: #f0f0f0;
    --color-d: #4caf50;
    --color-e: #265b6a;
    --color-f: grey;
    --color-x: #9e9e9e;
    --color-y: #616161;

    --font-small: 10pt;
    --font-large: 14pt;
    --font-xxlarge: 22pt;
    --font-mega: 32pt;
    --font-uber: 48pt;

    --thickness-border: 2px;
}

.rmsp-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    font-family: Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.rmsp-collapsible-vertical-caption {
    background-color: var(--color-f);
    color: var(--color-c);
    padding: calc(0.5 * var(--x-gap));
    transition: background-color var(--anim-speed);
}
.rmsp-collapsible-vertical-caption:hover {
    background-color: var(--color-c);
    color: black;
}

.rmsp-color-box {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.rmsp-color-picker-nest {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.rmsp-controls {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--h-gap);
    overflow: auto;
    padding: calc(0.5 * var(--x-gap));
}

.rmsp-control-item-group {
    display: flex;
    flex: 1;
    gap: 0;
}

.rmsp-control-item {
    flex: 1;
}

.rmsp-controls-line {
    align-items: center;
    display: flex;
    gap: var(--h-gap);
}

.rmsp-controls-section-caption {
    font-weight: bold;
}

.rmsp-pushbutton {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color var(--anim-speed);
}
.rmsp-pushbutton:hover {
    background-color: var(--color-b);
}

.rmsp-pushbutton-disabled {
    background-color: var(--color-a);
}

.rmsp-togglebutton-switched-off {
    background-color: red;
}

.rmsp-togglebutton-switched-on {
    background-color: #26e326;
}

.rmsp-pushbutton-text {
    font-weight: bold;
    margin: 0.15em;
}

.rmsp-pushbutton-text-disabled {
    color: var(--color-a);
    font-weight: bold;
    margin: 0.15em;
}

.rmsp-spinbox-container {
    background-color: white;
    border: 0.15em solid #ccc;
    border-radius: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

.rmsp-spinbox-button {
    height: 0.6em;
    text-align: center;
}
.rmsp-spinbox-button:hover {
    background-color: #aaa;
}

.rmsp-spinbox-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.05em;
    margin: 0.1em;
}

.rmsp-spinbox-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
}
.rmsp-spinbox-input:focus {
    outline: none;
}

.rmsp-viewer {
    flex: 1;
    position: relative;
}
