/* vim: set sw=4 tw=4 sts=4 expandtab : */

:root {
    --rmsp-anim-speed: 222ms;

    --rmsp-h-gap: 1em;
    --rmsp-v-gap: 0.5em;
    --rmsp-x-gap: 1em;

    --rmsp-color-a: #aaa;
    --rmsp-color-b: #ccc;
    --rmsp-color-c: #f0f0f0;
    --rmsp-color-d: #4caf50;
    --rmsp-color-e: #265b6a;
    --rmsp-color-f: grey;
    --rmsp-color-g: white;
    --rmsp-color-x: #9e9e9e;
    --rmsp-color-y: #616161;

    --rmsp-font-small: 10pt;
    --rmsp-font-large: 14pt;
    --rmsp-font-xxlarge: 22pt;
    --rmsp-font-mega: 32pt;
    --rmsp-font-uber: 48pt;

    --rmsp-content-padding: 0.25em;

    --rmsp-thickness-border: 0.15em;
}

.rmsp-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    font-family: Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.rmsp-collapsible-vertical-caption {
    background-color: var(--rmsp-color-f);
    color: var(--rmsp-color-c);
    padding: calc(0.5 * var(--rmsp-x-gap));
    transition: background-color var(--rmsp-anim-speed);
}
.rmsp-collapsible-vertical-caption:hover {
    background-color: var(--rmsp-color-c);
    color: black;
}

.rmsp-color-box {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.rmsp-color-picker-nest {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

.rmsp-controls {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--rmsp-h-gap);
    overflow: auto;
    padding: calc(0.5 * var(--rmsp-x-gap));
}

.rmsp-control-item-group {
    display: flex;
    flex: 1;
    gap: 0;
}

.rmsp-control-item {
    flex: 1;
}

.rmsp-control-item-squished {
}

.rmsp-control-horizontal-spacer {
    display: inline-block;
    width: var(--rmsp-content-padding);
}

.rmsp-control-line {
    align-items: center;
    display: flex;
    gap: var(--rmsp-h-gap);
}

.rmsp-control-section-caption {
    font-weight: bold;
}

.rmsp-control-vertical-section-caption {
    font-weight: bold;
    text-align: center;
}

.rmsp-control-vertical-spacer {
    display: block;
    height: var(--rmsp-v-gap);
}

.rmsp-icon-button {
    align-items: center;
    background-color: var(--rmsp-color-g);
    border-radius: 0;
    border: var(--rmsp-thickness-border) solid var(--rmsp-color-a);
    display: flex;
    justify-content: center;
    width: 1.5em;

    transition: background-color var(--rmsp-anim-speed);
}
.rmsp-icon-button:hover {
    background-color: var(--rmsp-color-b);
}

.rmsp-icon-button-disabled {
    background-color: var(--rmsp-color-a);
}

.rmsp-icon-button-icon {
    flex: 1;
    object-fit: contain;
    padding: var(--rmsp-content-padding);
}

.rmsp-pushbutton {
    align-items: center;
    border-radius: 0;
    border: var(--rmsp-thickness-border) solid var(--rmsp-color-a);
    display: flex;
    justify-content: center;
    transition: background-color var(--rmsp-anim-speed);
}
.rmsp-pushbutton:hover {
    background-color: var(--rmsp-color-b);
}

.rmsp-pushbutton-disabled {
    background-color: var(--rmsp-color-a);
}

.rmsp-togglebutton {
    border: none;
}

.rmsp-togglebutton-switched-off {
    background-color: red;
}

.rmsp-togglebutton-switched-on {
    background-color: #26e326;
}

.rmsp-pushbutton-text {
    font-weight: bold;
    margin: 0.15em;
}

.rmsp-pushbutton-text-disabled {
    color: var(--rmsp-color-a);
    font-weight: bold;
    margin: 0.15em;
}

.rmsp-range-slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: var(--rmsp-color-b);
    height: 0.15em;
    margin: auto 0 auto 0;
    width: 100%;
}
.rmsp-range-slider::-moz-range-thumb {
    background: white;
    border-radius: 0;
    border: var(--rmsp-thickness-border) solid var(--rmsp-color-a);
    cursor: pointer;
    height: 0.8em;
    transition: background-color var(--rmsp-anim-speed);
    width: 0.8em;
}
.rmsp-range-slider::-moz-range-thumb:hover {
    background-color: var(--rmsp-color-b);
}
.rmsp-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    background: white;
    border-radius: 0;
    border: var(--rmsp-thickness-border) solid var(--rmsp-color-a);
    cursor: pointer;
    height: 1em;
    transition: background-color var(--rmsp-anim-speed);
    width: 1em;
}
.rmsp-range-slider::-webkit-slider-thumb:hover {
    background-color: var(--rmsp-color-b);
}

.rmsp-spinbox-container {
    background-color: white;
    border: var(--rmsp-thickness-border) solid var(--rmsp-color-b);
    border-radius: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

.rmsp-spinbox-button {
    height: 0.6em;
    text-align: center;
}
.rmsp-spinbox-button:hover {
    background-color: var(--rmsp-color-a);
}

.rmsp-spinbox-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.05em;
    margin: 0.1em;
}

.rmsp-spinbox-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
}
.rmsp-spinbox-input:focus {
    outline: none;
}

.rmsp-toolbar {
    background-color: var(--rmsp-color-f);
}

.rmsp-toolbar-control-block {
    background-color: white;
    overflow-y: scroll;
    padding: 0 var(--rmsp-content-padding) 0 var(--rmsp-content-padding);
}

.rmsp-toolbar-icon {
    filter: invert(1);
    padding: var(--rmsp-content-padding);
    transition: filter var(--rmsp-anim-speed);
}
.rmsp-toolbar-icon:hover {
    filter: invert(0);
}

.rmsp-toolbar-icon-disabled {
    filter: invert(0.8);
    padding: var(--rmsp-content-padding);
}

.rmsp-toolbar-icon-selected {
    filter: invert(0);
}

.rmsp-toolbar-icon-tainer {
    background-color: var(--rmsp-color-f);
    transition: background-color var(--rmsp-anim-speed);
}
.rmsp-toolbar-icon-tainer:hover {
    background-color: var(--rmsp-color-c);
}

.rmsp-toolbar-icon-tainer-disabled {
    background-color: var(--rmsp-color-a);
}

.rmsp-toolbar-icon-tainer-selected {
    background-color: var(--rmsp-color-c);
    transition: background-color var(--rmsp-anim-speed);
}

.rmsp-viewer {
    flex: 1;
    position: relative;
}
